@model leave_management.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div id="comments">@if (Model.NumberUpdated != 0) { @Model.NumberUpdated <text> records updated</text> }</div>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Leave Types
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveTypes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="SetLeave" asp-route-id="@item.ID">
                    <i class="fa fa-pencil"></i> Allocate to Employees
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
